<% if current_user %>
  Welcome <%= current_user.email %><br>
  <%= link_to "Logout", logout_path, method: "delete" %>

<%= flash[:success] %>
<%= flash[:notice] %>

<h2>Create a movie here!!</h2>
  <%= form_tag movies_path do %>
    <%= label_tag :title %>
    <%= text_field_tag :title %>

    <%= label_tag :note %>
    <%= text_field_tag :note %>

    <%= submit_tag "Create Movie"%>
  <% end %>

  <div>
    Filter by title: <input id="filter-input">
    <button id='filter-by-watched'>Show only my Watched</button>
    <button id='filter-by-unwatched'>Show only my UNwatched</button>
    <button id='sort-alpha'>Sort Alphabetically by Title</button>
  </div>

  <table>
  <tr>
    <th>Movie Title</th>
    <th>Notes</th>
    <th>Seen?</th>
    <th>Tags</th>
    <th>Watched?</th>
    <th>Edit</th>
  </tr>
    <tbody id="movie-table-body">
    <% @movies.each do |movie| %>
      <% if movie.watched == false %>
        <tr id= <%= movie.id %>>
          <td class="movie-title"><%= movie.title %></td>
          <td class="movie-note"><%= movie.note %></td>
          <td class="status"><%= movie.watched %></td>
          <td class="tags"><%= raw movie.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>
          <td><button type="button" name="mark-as-watched" class="mark-watched">Mark as Watched</button></td>
          <td><%= link_to "Edit Movie", edit_movie_path(movie.id) %></td>
        </tr>
        <% else %>
        <tr class="grey" id= <%= movie.id %>>
          <td class="movie-title"><%= movie.title %></td>
          <td class="movie-note"><%= movie.note %></td>
          <td class="status"><%= movie.watched %></td>
          <td class="tags"><%= raw movie.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>
          <td><button type="button" name="mark-as-unwatched" class="mark-unwatched">Mark as Unwatched</button></td>
          <td><%= link_to "Edit Movie", edit_movie_path(movie.id) %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<% else %>
  <h2><%= link_to "Sign Up", signup_path %> or <%= link_to "Login", login_path %></h2>
<% end %>
